[submodule "src/rotorpy"]
	path = src/rotorpy
	url = git@github.com:Jirl-upenn/rotorpy.git
[submodule "src/motion_capture_system"]
	path = src/motion_capture_system
	url = git@github.com:Jirl-upenn/motion_capture_system.git
[submodule "src/crazyflie-lib-python"]
	path = src/crazyflie-lib-python
	url = git@github.com:Jirl-upenn/crazyflie-lib-python.git
[submodule "src/crazyflie-clients-python"]
	path = src/crazyflie-clients-python
	url = git@github.com:Jirl-upenn/crazyflie-clients-python.git
